
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
a {
  color: #000035;
  text-decoration: none;
  font-size: 1em;
}
a;hover{
  font-weight: bold;
  text-decoration: underline;
  font-size: 1em;
  color: #000035;
  opacity: 0.3;
}

body{
	font-family: "Lato", "Helvetica", sans-serif;
	color: #000035;
}

/* -------------------------------- 

General

-------------------------------- */
#page{
	max-width: 414px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.main{
	width: 90%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.topnav{
	width: 100%;
	padding-top: 3%;
}
.container{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#logo{
	float: left;
	clear: right;
	width: 50%;
	height: auto;
}
#logo img{
	width: 25%;
}

